@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model CodeVrikATS.Entity.Models.RoleEntity

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<link href="~/css/toastr.css" rel="stylesheet" />
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/js/toaster.js"></script>
<script src="~/js/toastr.min.js"></script>


<div class="modal fade" id="model_RoleDetail" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 50px;">
        <!-- Adjusted vertical position -->
        <div class="modal-content shadow-sm border-0">
            <div class="modal-header bg-light">

                <h5 class="modal-title  standardColor" id="leaveModalLabel">@(Model.RoleId == null ? "Add Role" : "Edit Role")</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form id="roleForm" method="post" role="form">
                    <input type="hidden" asp-for="RoleId" id="GroupId" />

                    <!-- Row 1: Start Date & End Date -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label standardColor ">Role Name</label>
                            <input type="text" asp-for="RoleName" class="form-control" id="StartDate" placeholder="Enter Role Name">
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>

                    </div>


                    <!-- Full-Width Separator Line -->
                    <hr class="mt-4 mb-3 border-dark" style="margin-left: -24px; margin-right: -24px;">

                    <!-- Buttons Aligned Right -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btnStdColor px-4 me-2 btnStdWid2 " onclick="SaveRole()">Save</button>
                        <button type="button" class="btn btn-secondary px-3 me-2 btnStdWid2" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}

<script>
    function SaveRole() {
        if ($('#roleForm').valid()) {
            var form = $("#roleForm");
            try {
                var formdata = $('form').serialize();
                $.ajax({
                    url: '@Url.Action("SaveRole", "Role")',
                    async: false,
                    type: 'POST',
                    data: formdata,
                    success: function (data) {

                        if (data.success) {
                            // $('modal').addClass("hidden");
                            // $("div").remove(".hs-overlay-backdrop");
                            toastr.success(data.message);

                            $('#model_RoleDetail').modal('hide');
                            bindRoleGrid();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                    //ValidationForm();
                });
            }
            catch {

            }
        }
    }
</script>